@if (Session["ID"] != null)
{

    <ul>
        <li>@Html.ActionLink("Welcome, " + Session["Name"] + ".", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li>@Html.ActionLink("View Subscribers", "ViewSubscribers", "Subscribers")</li>
        <li>@Html.ActionLink("Add Subscribers", "Add", "Subscribers")</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
    </ul>
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}