@model BLL.GroupFM

@using BLL;

@{
    ViewBag.Title = "Edit";
}

<h2>@Model.GroupName</h2>

<div style="height: 225px; width: 35%; float: left; padding: 5px;">

    @if (Model.Subscribers == null)
    {
        <p>@Model.GroupName has no subscribers</p>
    }
    else
    {
        @Html.Action("GroupSubscribers", new { Model.Subscribers })
    }
</div>

<div style="height: 225px; overflow: auto; padding: 5px; margin-left: 10px; display: inline-block;">
    @using (Html.BeginForm("UpdateSubscribers", "SubscriberGroups", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ID)
        <table>
            <thead style="display: block; ">
                <tr>
                    <th>All Subscribers</th>
                </tr>
            </thead>
            <tbody class="list">
                @for (int i = 0; i < Model.Subscribers.Count; i++)
                {
                    <tr style="border: 1px solid #ccc; ">
                        @Html.HiddenFor(m => m.Subscribers[i].ID)
                        <td>@Html.CheckBoxFor(m => m.Subscribers[i].EmailList)</td>
                        <td>@Model.Subscribers[i].LastName</td>
                        <td>@Model.Subscribers[i].FirstName</td>
                    </tr>
                }
            </tbody>
            <tfoot style="display: block;">
                <tr>
                    <th></th>
                    <th>
                        <input type="submit" value="Update Group">
                    </th>
                </tr>
            </tfoot>
        </table>
    }
</div>