@model BLL.GroupFM

@{
    ViewBag.Title = "Edit";
}

<div style="height: 225px; width: 35%; float: left; padding: 5px;">
    <h2>@Model.GroupName</h2>

    @if (Model.Subscribers == null)
    {
        <p>@Model.GroupName has no subscribers</p>
    }
    else
    {

        <p>@Model.GroupName has @Model.Subscribers.Count subscribers in it.</p>

        using (Html.BeginForm("Add", "SubscriberGroups", FormMethod.Post))
        {
            <table>
                <thead style="display: block; ">
                    <tr>
                        <th>Subscribers</th>
                    </tr>
                </thead>
                @Html.Action("ViewGroupSubscribers", Model)
                <tfoot style="display: block;">
                    <tr>
                        <th></th>
                        <th>
                            <input type="submit" value="Delete Subscribers">
                        </th>
                    </tr>
                </tfoot>
            </table>
        }
    }
</div>

<div style="height: 225px; overflow: auto; padding: 5px; margin-left: 10px; display: inline-block;">
    @using (Html.BeginForm("Add", "SubscriberGroups", FormMethod.Post))
    {
        <table>
            <thead style="display: block; ">
                <tr>
                    <th>Subscribers</th>
                </tr>
            </thead>
            @Html.Action("AllSubscribers")
            <tfoot style="display: block;">
                <tr>
                    <th></th>
                    <th>
                        <input type="submit" value="Add Subscribers">
                    </th>
                </tr>
            </tfoot>
        </table>
    }
</div>
