@model BLL.SubscribersFM

@if (Session["ID"] == null)
{
    @Html.Action("Index", "Home");
}

@{
    ViewBag.Title = "Add";
}

<h2>Add Subscriber</h2>

@Html.ActionLink("Add Subscriber List", "AddFromFile")

@using (Html.BeginForm("Add", "Subscribers", FormMethod.Post))
{
    <div class="error">
        @ViewBag.ErrorMessage
    </div>
    <div class="form-group">
        @*<div>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</div>*@
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email"})
        </div>
        <div class="form-group">
            @*<div>@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })</div>*@
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
            </div>
        </div>
        <div class="form-group">
            @*<div>@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })</div>*@
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
            </div>
        </div>
        <select name="groupID">
            <option value=0>No Group</option>
            @for (int i = 0; i < Model.Groups.Count; i++)
            {
                <option value=@Model.Groups[i].ID>@Model.Groups[i].GroupName</option>
            }
        </select>
        <input type="submit" value="Add Subscriber" />
    </div>
}