@model BLL.SubscribersVM

@using BLL;

@{
    ViewBag.Title = "Subscribers";
}

<h2>Subscribers</h2>

@Html.ActionLink("Create Subscriber", "Add")

<table>
    <thead>
        <tr>
            <th>@Html.ActionLink("Email", "ViewSubscribersByEmail")</th>
            <th>@Html.ActionLink("Last Name", "ViewSubscribersByLastName")</th>
            <th>@Html.ActionLink("First Name", "ViewSubscribersByFirstName")</th>
        </tr>
    </thead>
    <tbody>
        @Html.Partial("ByEmail")
    </tbody>
</table>